<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Personajes de Star Wars</title>
</head>

<body>
  <div>
    <h1>Personajes de Star Wars</h1>
    <button onclick="fetchAllCharacters()">Mostrar Todos</button>
    <input type="text" id="objectId" placeholder="Buscar por ObjectId">
    <button onclick="fetchByObjectId()">Buscar</button>
    <input type="text" id="name" placeholder="Buscar por Nombre">
    <button onclick="fetchByName()">Buscar</button>
    <div id="results">
      <% if (characters) { %>
        <% characters.forEach(character=> { %>
          <div>
            Nombre: <%= character.name %>, ObjectId: <%= character._id %>
          </div>
          <% }) %>
            <% } else { %>
              <p>No se encontraron personajes.</p>
              <% } %>
    </div>
  </div>
  <script src="/js/app.js"></script>
</body>

</html>